@media screen and (max-width:420px)
{
    /*LEZIONI DOVE VUOI TU*/
    .container{
        display: flex;
        flex-direction: column;
        background-color: #f2f2cd;
    }

    .row{
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
    }

    .left, .right{
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-self: center;
        font-weight: 800;
        font-size:15px;
    }

    .right img{
        width:100%;
    }
    /*COME FUNZIONA*/
    #steps{
        justify-content: center;
        background-color: #ffffff;
    }

    .central{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    /*PERCHE CADEMY*/
    #why{
        display: flex;
        flex-direction: column;
        align-self: center;
        background-color: #f2f2cd;
    }

    #why img{
        width: 50%;
    }

}